{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Azure Application Insights client for Components.",
        "title": "ApplicationInsightsManagementClient",
        "version": "2015-05-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/components_API.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "applicationinsights-components_API",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/components": {
            "get": {
                "description": "Gets a list of all Application Insights components within a subscription.",
                "operationId": "Components_List",
                "parameters": [
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list containing 0 or more Application Insights component definitions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the list of Application Insights Resources.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI to get the next set of Application Insights component definitions if too many components where returned in the result set.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Application Insights component definitions.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An Application Insights component definition.",
                                                "properties": {
                                                    "kind": {
                                                        "description": "The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties that define an Application Insights component resource.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "AppId": {
                                                                "description": "Application Insights Unique ID for your Application.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "ApplicationId": {
                                                                "description": "The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "Application_Type": {
                                                                "default": "web",
                                                                "description": "Type of application being monitored.",
                                                                "enum": [
                                                                    "web",
                                                                    "other"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ApplicationType"
                                                                },
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "CreationDate": {
                                                                "description": "Creation Date for the Application Insights component, in ISO 8601 format.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "Flow_Type": {
                                                                "default": "Bluefield",
                                                                "description": "Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.",
                                                                "enum": [
                                                                    "Bluefield"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "FlowType"
                                                                }
                                                            },
                                                            "HockeyAppId": {
                                                                "description": "The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.",
                                                                "externalDocs": {
                                                                    "url": "https://aka.ms/ewjuel"
                                                                },
                                                                "type": "string"
                                                            },
                                                            "HockeyAppToken": {
                                                                "description": "Token used to authenticate communications with between Application Insights and HockeyApp.",
                                                                "externalDocs": {
                                                                    "url": "https://aka.ms/sls76s"
                                                                },
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "InstrumentationKey": {
                                                                "description": "Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "Request_Source": {
                                                                "default": "rest",
                                                                "description": "Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.",
                                                                "enum": [
                                                                    "rest"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "RequestSource"
                                                                }
                                                            },
                                                            "SamplingPercentage": {
                                                                "description": "Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.",
                                                                "externalDocs": {
                                                                    "url": "https://aka.ms/sl0yqd"
                                                                },
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "TenantId": {
                                                                "description": "Azure Tenant Id.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Application_Type"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "kind"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "value"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "ComponentsList.json": {
                        "parameters": {
                            "api-version": "2015-05-01",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component",
                                            "kind": "web",
                                            "location": "South Central US",
                                            "name": "my-component",
                                            "properties": {
                                                "AppId": "16526d1a-dfba-4362-a9e9-123456789abc",
                                                "ApplicationId": "my-component",
                                                "Application_Type": "web",
                                                "CreationDate": "2017-02-14T12:24:05.0041213+00:00",
                                                "Flow_Type": "Bluefield",
                                                "HockeyAppId": "",
                                                "HockeyAppToken": "",
                                                "InstrumentationKey": "dc5931c7-a7ad-4ad0-89d6-123456789abc",
                                                "Request_Source": "rest",
                                                "SamplingPercentage": 75,
                                                "TenantId": "f438d567-7177-4fe1-a5e3-123456789abc",
                                                "provisioningState": "Succeeded"
                                            },
                                            "tags": "",
                                            "type": "Microsoft.Insights/components"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/my-other-resource-group/providers/Microsoft.Insights/components/my-other-component",
                                            "kind": "web",
                                            "location": "South Central US",
                                            "name": "my-other-component",
                                            "properties": {
                                                "AppId": "887f4bfd-b5fd-40d7-9fc3-123456789abc",
                                                "ApplicationId": "my-other-component",
                                                "Application_Type": "web",
                                                "CreationDate": "2017-01-24T01:05:38.5934061+00:00",
                                                "Flow_Type": "Bluefield",
                                                "HockeyAppId": "",
                                                "HockeyAppToken": "",
                                                "InstrumentationKey": "bc095013-3cf2-45ac-ab47-123456789abc",
                                                "Request_Source": "rest",
                                                "SamplingPercentage": 30,
                                                "TenantId": "f438d567-7177-4fe1-a5e3-123456789abc",
                                                "provisioningState": "Succeeded"
                                            },
                                            "tags": "",
                                            "type": "Microsoft.Insights/components"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components": {
            "get": {
                "description": "Gets a list of Application Insights components within a resource group.",
                "operationId": "Components_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list containing 0 or more Application Insights component definitions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the list of Application Insights Resources.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI to get the next set of Application Insights component definitions if too many components where returned in the result set.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "List of Application Insights component definitions.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An Application Insights component definition.",
                                                "properties": {
                                                    "kind": {
                                                        "description": "The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties that define an Application Insights component resource.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "AppId": {
                                                                "description": "Application Insights Unique ID for your Application.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "ApplicationId": {
                                                                "description": "The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "Application_Type": {
                                                                "default": "web",
                                                                "description": "Type of application being monitored.",
                                                                "enum": [
                                                                    "web",
                                                                    "other"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ApplicationType"
                                                                },
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "CreationDate": {
                                                                "description": "Creation Date for the Application Insights component, in ISO 8601 format.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "Flow_Type": {
                                                                "default": "Bluefield",
                                                                "description": "Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.",
                                                                "enum": [
                                                                    "Bluefield"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "FlowType"
                                                                }
                                                            },
                                                            "HockeyAppId": {
                                                                "description": "The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.",
                                                                "externalDocs": {
                                                                    "url": "https://aka.ms/ewjuel"
                                                                },
                                                                "type": "string"
                                                            },
                                                            "HockeyAppToken": {
                                                                "description": "Token used to authenticate communications with between Application Insights and HockeyApp.",
                                                                "externalDocs": {
                                                                    "url": "https://aka.ms/sls76s"
                                                                },
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "InstrumentationKey": {
                                                                "description": "Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "Request_Source": {
                                                                "default": "rest",
                                                                "description": "Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.",
                                                                "enum": [
                                                                    "rest"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "RequestSource"
                                                                }
                                                            },
                                                            "SamplingPercentage": {
                                                                "description": "Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.",
                                                                "externalDocs": {
                                                                    "url": "https://aka.ms/sl0yqd"
                                                                },
                                                                "format": "double",
                                                                "type": "number"
                                                            },
                                                            "TenantId": {
                                                                "description": "Azure Tenant Id.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Application_Type"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "kind"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "value"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "ComponentListByResourceGroup": {
                        "parameters": {
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nextLink": "",
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component",
                                            "kind": "web",
                                            "location": "South Central US",
                                            "name": "my-component",
                                            "properties": {
                                                "AppId": "16526d1a-dfba-4362-a9e9-123456789abc",
                                                "ApplicationId": "my-component",
                                                "Application_Type": "web",
                                                "CreationDate": "2017-02-14T12:24:05.0041213+00:00",
                                                "Flow_Type": "Bluefield",
                                                "HockeyAppId": "",
                                                "HockeyAppToken": "",
                                                "InstrumentationKey": "dc5931c7-a7ad-4ad0-89d6-123456789abc",
                                                "Request_Source": "rest",
                                                "SamplingPercentage": 100,
                                                "TenantId": "f438d567-7177-4fe1-a5e3-123456789abc",
                                                "provisioningState": "Succeeded"
                                            },
                                            "tags": "",
                                            "type": "Microsoft.Insights/components"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/my-other-resource-group/providers/Microsoft.Insights/components/my-other-component",
                                            "kind": "web",
                                            "location": "South Central US",
                                            "name": "my-other-component",
                                            "properties": {
                                                "AppId": "887f4bfd-b5fd-40d7-9fc3-123456789abc",
                                                "ApplicationId": "my-other-component",
                                                "Application_Type": "web",
                                                "CreationDate": "2017-01-24T01:05:38.5934061+00:00",
                                                "Flow_Type": "Bluefield",
                                                "HockeyAppId": "",
                                                "HockeyAppToken": "",
                                                "InstrumentationKey": "bc095013-3cf2-45ac-ab47-123456789abc",
                                                "Request_Source": "rest",
                                                "SamplingPercentage": 50,
                                                "TenantId": "f438d567-7177-4fe1-a5e3-123456789abc",
                                                "provisioningState": "Succeeded"
                                            },
                                            "tags": "",
                                            "type": "Microsoft.Insights/components"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}": {
            "delete": {
                "description": "Deletes an Application Insights component.",
                "operationId": "Components_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request when deleting an Application Insights component."
                    },
                    "204": {
                        "description": "The specified component does not exist."
                    }
                },
                "x-ms-examples": {
                    "ComponentsDelete": {
                        "parameters": {
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {},
                            "204": {}
                        }
                    }
                }
            },
            "get": {
                "description": "Returns an Application Insights component.",
                "operationId": "Components_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An Application Insights Component definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Application Insights component definition.",
                                    "properties": {
                                        "kind": {
                                            "description": "The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties that define an Application Insights component resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "AppId": {
                                                    "description": "Application Insights Unique ID for your Application.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "ApplicationId": {
                                                    "description": "The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Application_Type": {
                                                    "default": "web",
                                                    "description": "Type of application being monitored.",
                                                    "enum": [
                                                        "web",
                                                        "other"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ApplicationType"
                                                    },
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "CreationDate": {
                                                    "description": "Creation Date for the Application Insights component, in ISO 8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Flow_Type": {
                                                    "default": "Bluefield",
                                                    "description": "Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.",
                                                    "enum": [
                                                        "Bluefield"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "FlowType"
                                                    }
                                                },
                                                "HockeyAppId": {
                                                    "description": "The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/ewjuel"
                                                    },
                                                    "type": "string"
                                                },
                                                "HockeyAppToken": {
                                                    "description": "Token used to authenticate communications with between Application Insights and HockeyApp.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/sls76s"
                                                    },
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "InstrumentationKey": {
                                                    "description": "Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Request_Source": {
                                                    "default": "rest",
                                                    "description": "Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.",
                                                    "enum": [
                                                        "rest"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "RequestSource"
                                                    }
                                                },
                                                "SamplingPercentage": {
                                                    "description": "Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/sl0yqd"
                                                    },
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "TenantId": {
                                                    "description": "Azure Tenant Id.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Application_Type"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "kind"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "ComponentGet": {
                        "parameters": {
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component",
                                    "kind": "web",
                                    "location": "South Central US",
                                    "name": "my-component",
                                    "properties": {
                                        "AppId": "887f4bfd-b5fd-40d7-9fc3-123456789abc",
                                        "ApplicationId": "my-component",
                                        "Application_Type": "web",
                                        "CreationDate": "2017-01-24T01:05:38.5934061+00:00",
                                        "Flow_Type": "Bluefield",
                                        "HockeyAppId": "",
                                        "HockeyAppToken": "",
                                        "InstrumentationKey": "bc095013-3cf2-45ac-ab47-123456789abc",
                                        "Request_Source": "rest",
                                        "SamplingPercentage": 100,
                                        "TenantId": "f438d567-7177-4fe1-a5e3-123456789abc",
                                        "provisioningState": "Succeeded"
                                    },
                                    "tags": "",
                                    "type": "Microsoft.Insights/components"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates an existing component's tags. To update other fields use the CreateOrUpdate method.",
                "operationId": "Components_UpdateTags",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updating the Application Insights component's tags was successful. Component tags are updated and returned with the rest of the Component's object properties.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Application Insights component definition.",
                                    "properties": {
                                        "kind": {
                                            "description": "The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties that define an Application Insights component resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "AppId": {
                                                    "description": "Application Insights Unique ID for your Application.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "ApplicationId": {
                                                    "description": "The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Application_Type": {
                                                    "default": "web",
                                                    "description": "Type of application being monitored.",
                                                    "enum": [
                                                        "web",
                                                        "other"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ApplicationType"
                                                    },
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "CreationDate": {
                                                    "description": "Creation Date for the Application Insights component, in ISO 8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Flow_Type": {
                                                    "default": "Bluefield",
                                                    "description": "Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.",
                                                    "enum": [
                                                        "Bluefield"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "FlowType"
                                                    }
                                                },
                                                "HockeyAppId": {
                                                    "description": "The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/ewjuel"
                                                    },
                                                    "type": "string"
                                                },
                                                "HockeyAppToken": {
                                                    "description": "Token used to authenticate communications with between Application Insights and HockeyApp.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/sls76s"
                                                    },
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "InstrumentationKey": {
                                                    "description": "Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Request_Source": {
                                                    "default": "rest",
                                                    "description": "Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.",
                                                    "enum": [
                                                        "rest"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "RequestSource"
                                                    }
                                                },
                                                "SamplingPercentage": {
                                                    "description": "Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/sl0yqd"
                                                    },
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "TenantId": {
                                                    "description": "Azure Tenant Id.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Application_Type"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "kind"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "ComponentUpdateTagsOnly": {
                        "parameters": {
                            "ComponentTags": {
                                "tags": {
                                    "ApplicationGatewayType": "Internal-Only",
                                    "BillingEntity": "Self",
                                    "Color": "AzureBlue",
                                    "CustomField_01": "Custom text in some random field named randomly",
                                    "NodeType": "Edge"
                                }
                            },
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component",
                                    "kind": "web",
                                    "location": "South Central US",
                                    "name": "my-component",
                                    "properties": {
                                        "AppId": "887f4bfd-b5fd-40d7-9fc3-123456789abc",
                                        "ApplicationId": "my-component",
                                        "Application_Type": "web",
                                        "CreationDate": "2017-01-24T01:05:38.5934061+00:00",
                                        "Flow_Type": "Bluefield",
                                        "HockeyAppId": "",
                                        "HockeyAppToken": "",
                                        "InstrumentationKey": "bc095013-3cf2-45ac-ab47-123456789abc",
                                        "Request_Source": "rest",
                                        "SamplingPercentage": 100,
                                        "TenantId": "f438d567-7177-4fe1-a5e3-123456789abc",
                                        "provisioningState": "Succeeded"
                                    },
                                    "tags": {
                                        "ApplicationGatewayType": "Internal-Only",
                                        "BillingEntity": "Self",
                                        "Color": "AzureBlue",
                                        "CustomField_01": "Custom text in some random field named randomly",
                                        "NodeType": "Edge"
                                    },
                                    "type": "Microsoft.Insights/components"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A container holding only the Tags for a resource, allowing the user to update the tags on a WebTest instance.",
                                "properties": {
                                    "tags": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Resource tags"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "Updated tag information to set into the component instance.",
                    "required": true
                }
            },
            "put": {
                "description": "Creates (or updates) an Application Insights component. Note: You cannot specify a different value for InstrumentationKey nor AppId in the Put operation.",
                "operationId": "Components_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the Application Insights component resource.",
                        "in": "path",
                        "name": "resourceName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful request when creating or updating an Application Insights component. The updated component is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An Application Insights component definition.",
                                    "properties": {
                                        "kind": {
                                            "description": "The kind of application that this component refers to, used to customize UI. This value is a freeform string, values should typically be one of the following: web, ios, other, store, java, phone.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties that define an Application Insights component resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "AppId": {
                                                    "description": "Application Insights Unique ID for your Application.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "ApplicationId": {
                                                    "description": "The unique ID of your application. This field mirrors the 'Name' field and cannot be changed.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Application_Type": {
                                                    "default": "web",
                                                    "description": "Type of application being monitored.",
                                                    "enum": [
                                                        "web",
                                                        "other"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ApplicationType"
                                                    },
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "CreationDate": {
                                                    "description": "Creation Date for the Application Insights component, in ISO 8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Flow_Type": {
                                                    "default": "Bluefield",
                                                    "description": "Used by the Application Insights system to determine what kind of flow this component was created by. This is to be set to 'Bluefield' when creating/updating a component via the REST API.",
                                                    "enum": [
                                                        "Bluefield"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "FlowType"
                                                    }
                                                },
                                                "HockeyAppId": {
                                                    "description": "The unique application ID created when a new application is added to HockeyApp, used for communications with HockeyApp.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/ewjuel"
                                                    },
                                                    "type": "string"
                                                },
                                                "HockeyAppToken": {
                                                    "description": "Token used to authenticate communications with between Application Insights and HockeyApp.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/sls76s"
                                                    },
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "InstrumentationKey": {
                                                    "description": "Application Insights Instrumentation key. A read-only value that applications can use to identify the destination for all telemetry sent to Azure Application Insights. This value will be supplied upon construction of each new Application Insights component.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "Request_Source": {
                                                    "default": "rest",
                                                    "description": "Describes what tool created this Application Insights component. Customers using this API should set this to the default 'rest'.",
                                                    "enum": [
                                                        "rest"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "RequestSource"
                                                    }
                                                },
                                                "SamplingPercentage": {
                                                    "description": "Percentage of the data produced by the application being monitored that is being sampled for Application Insights telemetry.",
                                                    "externalDocs": {
                                                        "url": "https://aka.ms/sl0yqd"
                                                    },
                                                    "format": "double",
                                                    "type": "number"
                                                },
                                                "TenantId": {
                                                    "description": "Azure Tenant Id.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "Current state of this component: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "Application_Type"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "kind"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "ComponentCreate": {
                        "parameters": {
                            "InsightProperties": {
                                "kind": "web",
                                "location": "South Central US",
                                "name": "my-component",
                                "properties": {
                                    "ApplicationId": "my-component",
                                    "Application_Type": "web",
                                    "Flow_Type": "Bluefield",
                                    "Request_Source": "rest"
                                }
                            },
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component",
                                    "kind": "web",
                                    "location": "South Central US",
                                    "name": "my-component",
                                    "properties": {
                                        "AppId": "887f4bfd-b5fd-40d7-9fc3-123456789abc",
                                        "ApplicationId": "my-component",
                                        "Application_Type": "web",
                                        "CreationDate": "2017-01-24T01:05:38.5934061+00:00",
                                        "Flow_Type": "Bluefield",
                                        "HockeyAppId": "",
                                        "HockeyAppToken": "",
                                        "InstrumentationKey": "bc095013-3cf2-45ac-ab47-123456789abc",
                                        "Request_Source": "rest",
                                        "SamplingPercentage": 100,
                                        "TenantId": "f438d567-7177-4fe1-a5e3-123456789abc",
                                        "provisioningState": "Succeeded"
                                    },
                                    "tags": "",
                                    "type": "Microsoft.Insights/components"
                                }
                            }
                        }
                    },
                    "ComponentUpdate": {
                        "parameters": {
                            "InsightProperties": {
                                "kind": "web",
                                "location": "South Central US",
                                "name": "my-component",
                                "tags": {
                                    "ApplicationGatewayType": "Internal-Only",
                                    "BillingEntity": "Self"
                                }
                            },
                            "api-version": "2015-05-01",
                            "resourceGroupName": "my-resource-group",
                            "resourceName": "my-component",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Insights/components/my-component",
                                    "kind": "web",
                                    "location": "South Central US",
                                    "name": "my-component",
                                    "properties": {
                                        "AppId": "887f4bfd-b5fd-40d7-9fc3-123456789abc",
                                        "ApplicationId": "my-component",
                                        "Application_Type": "web",
                                        "CreationDate": "2017-01-24T01:05:38.5934061+00:00",
                                        "Flow_Type": "Bluefield",
                                        "HockeyAppId": "",
                                        "HockeyAppToken": "",
                                        "InstrumentationKey": "bc095013-3cf2-45ac-ab47-123456789abc",
                                        "Request_Source": "rest",
                                        "SamplingPercentage": 100,
                                        "TenantId": "f438d567-7177-4fe1-a5e3-123456789abc",
                                        "provisioningState": "Succeeded"
                                    },
                                    "tags": {
                                        "ApplicationGatewayType": "Internal-Only",
                                        "BillingEntity": "Self"
                                    },
                                    "type": "Microsoft.Insights/components"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "description": "An azure resource object",
                                        "properties": {
                                            "id": {
                                                "description": "Azure resource Id",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "location": {
                                                "description": "Resource location",
                                                "type": "string",
                                                "x-ms-mutability": [
                                                    "create",
                                                    "read"
                                                ]
                                            },
                                            "name": {
                                                "description": "Azure resource name",
                                                "readOnly": true,
                                                "type": "string"
[...]
